.breadcrumbs {
  font-family: PT Sans, helvetica, sans-serif, arial;
  margin: 0;
  padding: 30px 15px 0 55px;
}
.breadcrumbs li {
  display: inline;
  list-style: none;
  padding-left: 15px;
}
.breadcrumbs li:not(:last-child):after {
  padding-left: 15px;
  content: "/";
}
.breadcrumbs li:first-child {
  padding-left: 0;
}
/* Octopress classic theme */
#content .breadcrumbs + div > {
  margin-top: 15px;
}